<div class="w-1/4 flex flex-col justify-center pl-4">
  <div class="bg-white mx-auto p-4 rounded-lg shadow-md">
    <ul class="space-y-2">
      <!--<li><a href="#" class="block px-4 py-2 rounded-lg text-gray-800 hover:bg-gray-200">나의 포스트</a></li>-->
      <!--<li><a href="#" class="block px-4 py-2 rounded-lg text-gray-800 hover:bg-gray-200">나의 이미지</a></li>-->
      <li><a href="/my-page/edit-profile" class="block px-4 py-2 rounded-lg text-gray-800 hover:bg-gray-200">프로필 변경</a></li>
      <li><a href="/my-page/edit-account" class="block px-4 py-2 rounded-lg text-gray-800 hover:bg-gray-200">계정 관리</a></li>
      <li><a href="/my-page/delete-account" class="block px-4 py-2 rounded-lg text-gray-800 hover:bg-gray-200">계정 탈퇴</a></li>
    </ul>
  </div>
</div>