<%-include("../includes/head",{pageTitle})%>
<script src="/script/myPage.js" defer></script>
</head>


<body>
  <%-include("../includes/navbar")%>

  <main>
    <div class="flex">
      <%-include("./includes/sidebar")%>
      <div class="w-3/4 mt-10 mx-auto">
      </div>
    </div>

  </main>

  <%-include("../includes/footer")%>