<%-include("../includes/head",{pageTitle})%>
</head>


<body>
  <%-include("../includes/navbar")%>
  <main>

    <div class="bg-white flex items-center justify-center mt-32 h-full">
      <div class="bg-white text-black border-2 border-black shadow-md rounded px-20 py-20 mb-4 flex flex-col justify-center items-center">
        <div class="mb-8 text-center">
          <h2 class="text-5xl font-bold mb-4">오류 404</h2>
          <p class="text-xl">요청하신 페이지가 없거나 이동되었습니다.</p>
        </div>
        <div class="flex items-center justify-center">
          <a href="/" class="bg-black text-white font-bold py-4 px-8 rounded">
            홈으로 돌아가기
          </a>
        </div>
      </div>
    </div>

  </main>

  <%-include("../includes/footer")%>