<%-include("../..//includes/head",{pageTitle})%>
<link rel="stylesheet" href="/css/temp.css">
</head>

<%-include("../../includes/header")%>

<form action="/auth/login" method="POST">
  <label for="">내용</label>
  <input type="text" id="email" name="email">

  <label for="password">Password:</label>
  <input type="password" id="password" name="password">

  <button type="submit">포스트 생성</button>
</form>


<%-include("../../includes/footer")%></input>