<%-include("./includes/head",{pageTitle})%>
</head>

<body>
  <%-include("./includes/navbar")%>

  <main class="flex flex-col items-center justify-center h-screen bg-transition">
    <h1 class="text-8xl font-bold mb-32">InteriorPeople</h1>

    <h1 class="text-4xl font-bold">놀라운 이미지 변환을 해보세요</h1>
    <p class="text-lg mt-4 text-center">당신의 인테리어를 아름답게 변환해드립니다. 다양한 스타일과 컬러 옵션으로 집안을 꾸미세요.</p>
    <button class="mt-8 px-4 py-2 bg-black text-white rounded">시작해 보기</button>
  </main>

  <%-include("./includes/footer")%>