<footer class="bg-white border-t border-gray-300 py-8 mt-20">
  <div class="container mx-auto px-4">
    <div class="flex flex-col items-center md:flex-row md:justify-between">
      <p class="text-gray-600 mb-4 md:mb-0 text-sm">© 2023 InteriorPeople. All rights reserved.</p>
      <ul class="flex space-x-4 text-sm">
        <li>
          <a class="text-black hover:text-gray-700 transition-colors duration-300 hover:underline" href="/">Terms of Service</a>
        </li>
        <li>
          <a class="text-black hover:text-gray-700 transition-colors duration-300 hover:underline" href="/">Privacy Policy</a>
        </li>
        <li>
          <a class="text-black hover:text-gray-700 transition-colors duration-300 hover:underline" href="/">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

</body>

</html>