<nav class="bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex items-center justify-between h-12">
      <div class="flex-shrink-0 flex items-center">
        <a href="/" class="text-black text-lg font-extrabold">InteriorPeople</a>
      </div>

      <div class="md:block">
        <div class="ml-10 flex items-baseline space-x-1">
          <a href="/" class="nav-link">Home</a>
          <a href="/#" class="nav-link">About</a>
          <a href="/community/all-posts" class="nav-link">Community</a>
          <div class="relative" id="support-btn">
            <p class="nav-link">Support</p>
            <div id="support-dropdown" class="absolute bg-white py-2 w-24 rounded-md shadow-lg hidden">
              <a href="/support/faq" class="block px-4 py-2 text-xl text-center text-gray-800 hover:bg-gray-200">FAQ</a>
              <a href="/support/guide" class="block px-4 py-2 text-xl text-center text-gray-800 hover:bg-gray-200">Guide</a>
            </div>
          </div>
        </div>
      </div>

      <div class="md:block">
        <div class="ml-4 flex items-center md:ml-6">

          <!-- 사용자가 로그인한 경우 -->
          <%if(user){%>
          <div class="relative" id="user-info">
            <button class="w-7 h-7 rounded-full flex items-center justify-center border-2 border-black overflow-hidden">
              <% if (user.profileImg) { %>
              <img src="<%= user.profileImg %>" alt="유저 프로필 이미지" />
              <% } else { %>
              <img src="/userProfileImg/basic-user-image.png" alt="유저 프로필 이미지" class="rounded-full mt-2" />
              <% } %>
            </button>

            <div id="my-info-menu" class="hidden absolute right-0 mt-2 w-24 bg-white border border-gray-300 rounded shadow-lg left-0">
              <a href="/my-page/edit-profile" class="block px-2 py-2 text-lg text-center text-gray-800 hover:bg-gray-200">My Page</a>
              <hr class="border-t border-gray-300">
              <form action="/auth/logout" method="POST" class="block px-2 py-2 text-lg text-center text-gray-800 hover:bg-gray-200">
                <button type="submit">Logout</button>
              </form>
            </div>


            <!-- 사용자가 로그인하지 않은 경우 -->
            <%}else{%>
            <a href="/auth/login" class="nav-link">Login</a>
            <a href="/auth/signup" class="nav-link">Sign Up</a>
            <%}%>
        </div>
      </div>
    </div>
  </div>
</nav>